<header class="c-page__header">
  <img src="{{ "/img/icon.png" | prepend: site.baseurl }}" alt="Skrimmage icon"  style="height: 4rem; width: 4rem; float: left; padding-right: 4px;" >
  <h1 style="font-weight: 600;">Skrimmage Blog</h1>
  {% if page.title == 'Blog' %}
    <h1>{{ site.description }}</h1>
    <p>
      <a href="{{ "/" | prepend: site.baseurl }}">Home</a>
      <span class="u-separate"></span>
      <a href="http://forum.skrimmage.com">Forums</a>
      <span class="u-separate"></span>
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
    </p>
  {% else %}
    <p>
      <a href="{{ "/blog" | prepend: site.baseurl }}">Back to Index</a>
    </p>
  {% endif %}
</header>
