<section class="bg-primary" id="forum">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"></h2>
                <h3>Check out the latest articles, conferences, and discussions:</h3>
                <hr class="light">
                <a href="http://forum.skrimmage.com" class="btn btn-default btn-xl">Skrimmage Forum</a>
            </div>
        </div>
    </div>
</section>
